doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/crack.css')
		link(rel='stylesheet', href='/stylesheets/estilo.css')
		
	body
	block content


//
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/materialize.css')
	script(src='/javascripts/materialize.js')	